*.o
*.pyc
*.swp
*~
moc_*
Makefile
ext/
dissent
test
docs/html
test.log
libdissent.so*
keygen
*.moc
entry_tunnel
exit_tunnel
build/keygen
build/dissent
build/.output
build/conf/private
build/conf/public
build/conf/*.conf
conf/local/*.log
Makefile_Backup
.qmake.stash